* {
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 800px) {
  .hidden-mobile {
    display: none;
  }
}

@media (max-width: 580px) {
  .hidden-mobile2 {
    display: none;
  }
}

/* BOTON SLIDER */
.comic-button {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff8352;
    border: 2px solid #ffa;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #ff8352;
    border: 2px solid #ff8352;
  }
  
  .comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }

  /* BOTON SLIDER 2 */

  .comic-button2 {
    display: inline-block;
    padding: 10px 25px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff8352;
    border: 2px solid #ffa;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button2:hover {
    background-color: #fff;
    color: #ff8352;
    border: 2px solid #ff8352;
  }
  
  .comic-button2:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  
/* LINEA DE BARRA DE NAVEGACION */
.subline {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  position: relative;
}

.subline::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Altura de la línea */
  bottom: -1px; /* Posición de la línea bajo el texto */
  left: 0;
  background-color: rgb(252, 143, 0); /* Color de la línea */
  visibility: hidden; /* Oculta la línea inicialmente */
  transform: scaleX(0); /* Inicia con la línea escalada a 0 */
  transition: all 0.3s ease-in-out 0s; /* Transición de la animación */
}
.subline:hover::after, a:focus::after{
  visibility: visible; /* Hace visible la línea al pasar el ratón */
  transform: scaleX(1); /* Escala la línea a su tamaño completo */
}

/* HOVER PARA LOS PRODUCTOS */
.overlay {
  display: none;
}

.overlay.active {
  display: flex;
}

.overlay button {
  display: inline-block;
  padding: 6px 45px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ff7b00;
  background-color: #ffffff;
  border: 2px solid #ff8352;
  transition: all 0.3s ease;
  cursor: pointer;
}

.overlay button:hover {
  background-color: #ff7b00;
  color: white;
  border: solid 2px #ff7b00;
}

.overlay button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

/* FLECHAS */

.custom-next-arrow, .custom-prev-arrow {
  color: black !important; /* Cambia el color de las flechas */
  z-index: 1; /* Asegúrate de que las flechas estén por encima del contenido */
}